/*  first color is #EE9526 */
/* second color is #0077B5 */

* {
	outline: none !important;
}

/* Btn */
a, a:hover {
	color: #0077B5;
}
.material-icons:hover {
	cursor: default;
}
.btn .material-icons:hover, #menu-opener .material-icons:hover, #main-nav .material-icons:hover {
	cursor: pointer;
}
.material-icons a:hover {
    text-decoration: none;
}
.btn-primary {
	font-size: 14px !important
}
/*.btn-primary.active, .btn-primary:active {
    background-color: #0077B5;
    border-color: #0077B5;
	color: rgba(255,255,255, 0.84) !important;
}
.btn-primary.active:hover, .btn-primary:active:hover {
    color: #0077B5 !important
}*/

.btn.btn-raised:not(.btn-link):hover.btn-primary,
.btn:not(.btn-raised):not(.btn-link):hover.btn-primary,
.btn:not(.btn-raised):not(.btn-link).btn-primary.active {
	background-color: #0088cf;
	color: rgba(255,255,255,.7)
}
.btn:not(.btn-raised):not(.btn-link).btn-primary.active {
	color: #fff;
}
.btn:not(.btn-raised):not(.btn-link):hover.btn-success {
	background-color: #2CC36B;
	color: rgba(255,255,255,.7)
}
.btn:not(.btn-raised):not(.btn-link):hover.btn-danger {
	background-color: #EA6153;
	color: rgba(255,255,255,.7)
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

/*.btn {
	border: none;
	border-radius: 2px;
	font-weight: 500;
	transition: background ease-in-out .15s, color ease-in-out .15s;
}
.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning, .btn-transparent {
	text-shadow: none;
	box-shadow: none;
	color: rgba(255,255,255,.8)
}
.btn-primary {
	background: #0077B5;
}
.btn-primary:focus, .btn-primary:hover {
	background: #236e9f;
}
.btn-default {
	color: rgba(0,0,0,.8);
	background: rgba(0,0,0,.1);
}
.btn-default:focus, .btn-default:hover {
	color: #000;
	background: rgba(0,0,0,.2);
}
.btn-transparent {
	color: rgba(0,0,0,.8);
	background: transparent;
}
.btn-transparent:focus, .btn-transparent:hover {
	color: #000;
	background: rgba(0,0,0,.1);
}

.btn .caret {
	margin-left: 7px;
}
*/

/* Tooltip */
/*.tooltip {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 12px;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #222;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #222;
}
.tooltip.left .tooltip-arrow {
	border-left-color: #222;
}
.tooltip.right .tooltip-arrow {
	border-right-color: #222;
}
.tooltip-inner {
	background-color: #222;
    border-radius: 2px;
}*/

/* Dropdown menu */
.dropdown-menu {
	border: none;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
	border-radius: 0;
}
.dropdown-menu>li>a {
    padding: 8px 20px;
	transition: background ease-in-out .15s
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background: #efefef;
}
.dropdown-menu>li>a:focus, .dropdown-menu li a:hover {
  background-color: #efefef;
}
.dropdown-menu .divider {
	margin: 5px 0;
}

/* Nav */
.nav {
	height: calc(100% - 147px); /* 147px is the size of the header with img */
	overflow: auto;
}
#main-nav ::-webkit-scrollbar {
	position: absolute;
    -webkit-appearance: none;
    width: 8px;
}
#main-nav ::-webkit-scrollbar-corner {
	background: #fff;
}
#main-nav ::-webkit-scrollbar-thumb {
	background: #283848;
	border-radius: 4px;
	box-shadow: inset 0 -3px #34495e, inset 0 3px #34495e;
}
#main-nav ::-webkit-scrollbar-track {
	border-radius: 3px;
	color: #fff;
	background: #34495e;
    box-shadow: inset 0 -3px #34495e, inset 0 3px #34495e;
}
.nav li:first-child {
	margin-top: 6px;
}
.nav li:last-child {
	margin-bottom: 6px;
}
.nav-pills>li>a {
	border-radius: 0;
	color: rgba(255,255,255,.85);
	transition: background ease-in-out .15s;
	/*text-transform: uppercase;*/
	font-weight: 400;
	font-size: 14px;
	padding: 12px 15px;
}
.nav-stacked>li+li {
	margin-top: 0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li>a:hover {
	background-color: rgba(255,255,255,.1)
}
.nav-pills>li>a:focus, .nav-pills>li.active>a:focus, .nav-pills>li>a.router-link-active {
	background-color: rgba(255,255,255,.25)
}

/* Page header */
.page-header {
	border: none;
	margin: 0;
	padding: 14px 24px;
	background-color: #f6f6f6;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0 0 1px 2px rgba(0,0,0,.08)
}
.page-header h1 {
	margin: 0;
	font-size: 24px;
	font-weight: 400;
	white-space: nowrap;
}

h2 {
	font-size: 21px;
	font-weight: 400;
}

/* Select2 */
.select2-container--default .select2-selection--single {
	border: none;
	margin-bottom: 7px;

}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	height: 38px;
	line-height: 1.42857143;
	background-image: linear-gradient(#0077B5, #0077B5), linear-gradient(#D2D2D2, #D2D2D2);
	background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
	background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
	transition: background 0s ease-out;
    padding: 7px 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered.is-focused {
	transition-duration: 0.3s;
	background-size: 100% 2px, 100% 1px;

}
.select2-dropdown {
	border: none;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	border-radius: 0;
	margin-left: -5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: #bbb transparent transparent transparent;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.select2-results__option {
	padding: 0 16px;
	height: 48px;
	display: flex;
	align-items: center;
	transition: background ease-in-out .15s;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #efefef;
	color: #000
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #efefef;
	color: #0077B5
}
.select2-container--open .select2-dropdown--above {
	margin-left: -16px;
}
.select2-container--open .select2-dropdown--below {
	margin-top: 6px;
	margin-left: -16px;
}

/* List group */
.list-group {
    box-shadow: none;
	margin-bottom: 0;
}
.list-group .list-group-item {
    transition: background ease-in-out .15s;
    display: flex;
    align-items: start;
    padding: 16px;
}
.list-group:not(.list-group-modal) .list-group-item:hover {
    background-color: rgba(0,0,0,.07);
}
.list-group:not(.list-group-modal) .list-group-item:active  {
    background-color: rgba(0,0,0,.13);
}
.list-group .list-group-item .row-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40px;
    width: 100%;
}
.list-group .list-group-item .row-picture img,
.list-group .list-group-item .row-action-primary img,
.list-group .list-group-item .row-picture i,
.list-group .list-group-item .row-action-primary i,
.list-group .list-group-item .row-picture label,
.list-group .list-group-item .row-action-primary label,
.list-group .list-group-item .row-picture div.avatar-icon,
.settings-div .avatar-icon {
    height: 50px;
    width: 50px;
}
.list-group .list-group-item .row-picture div.avatar-icon,
.settings-div div.avatar-icon {
  font-size: 17px;
}
.list-group .list-group-item .list-group-item-heading {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-group .list-group-item .list-group-item-text {
    font-size: 14px;
    margin-left: -15px;
}
.list-group .list-group-item .list-group-item-text .row div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
}
.list-group-item-text .material-icons {
    color: rgba(0,0,0,.35);
    font-size: 22px;
    margin: 1px 0;
}
.list-group-item-text img {
    width: 22px;
    height: 22px;
    margin: 1px 0;
}

.list-group .list-group-separator {
    margin-bottom: 0;
    margin-top: 0;
}
.list-group .list-group-separator::before {
    width: calc(100% - 82px);
}

.list-group .list-group-item-container:last-child .list-group-separator {
    display: none;
}

#list-event-pending .list-group .list-group-item {
 	overflow: auto;
 }

 .list-group .list-group-item-heading-2el {
 	display: flex;
 }

 .list-group .list-group-item .list-group-item-text .row div.list-group-item-periods,
 .list-group .list-group-item .list-group-item-text .row div.list-group-item-desc {
 	justify-content: flex-start;
 }
 .list-group .list-group-item .list-group-item-text .row div.list-group-item-actions {
 	display: block;
	text-align: right;
 }

 .list-group .list-group-item .btn-fab {
 	margin-bottom: 5px;
 	margin-right: 5px;
 }

 .btn.btn-fab-small {
	 width: 36px;
	 min-width: 36px;
	 height: 36px;
 }
.btn.btn-fab-small i.material-icons {
	 font-size: 20px
 }

 .list-group .list-group-item-event {
 	border-radius: 2px;
 	color: #fff;
 	padding: 1px 3px;
 }

.list-group .list-group-item-event-msg {
 	white-space: initial;
 }

 /* Custom class */
.btn.fixed-bottom-right {
	position: fixed;
	right: 20px;
	bottom: 15px;
	z-index: 10;
}
/* Tabs */
.ui-tabview {
	padding: 0;
}
.ui-tabview .ui-tabview-panel {
	padding: 20px 0 0;
}
.ui-tabview.ui-tabview-top > .ui-tabview-nav {
	padding: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
.ui-tabview.ui-tabview-top > .ui-tabview-nav li {
	margin: 0;
	padding: 3px 0;
	font-size: 14px;
}
.ui-tabview .ui-tabview-nav li a {
	color: rgba(0, 0, 0, 0.54);
	text-transform: uppercase;
	font-weight: 500;
	line-height: 25px;
	font-size: 13px;
}
.ui-tabview .ui-tabview-nav li.ui-tabview-selected a,
.ui-tabview .ui-tabview-nav li.ui-state-disabled a,
.ui-tabview .ui-tabview-nav li.ui-state-processing a {
	color: #0077B5;
	cursor: default;
}
.ui-tabview .ui-tabview-nav li.ui-state-disabled a {
	color: rgba(0, 0, 0, 0.54);
}
.ui-tabview .ui-tabview-nav li.ui-tabview-selected {
	border-bottom: 3px solid #0077B5;
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav li {
	top: 0;
}

/* Switch all day */
.hidden-allday, .shown-allday {
	transition: all ease-in-out 0.15s;
}
.hidden-allday {
	visibility: hidden;
  	opacity: 0;
	right: -110px;
}
.shown-allday {
	visibility: visible;
	opacity: 1;
	right: 0;
}

.legend-button {

  text-align: center;
  background-color: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  width: 65px;
  height: 25px;
  border-radius: 5px;
}

.legend-button :hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
