/* Animation */
@keyframes loading {
	from { left: -200px; width: 30%; }
	50%  { width: 30%; }
	70%  { width: 70%; }
	80%  { left: 50%; }
	95%  { left: 120%; }
	to   { left: 100%; }
}

/* Specific page loading */
#loading-page a:link, #loading-page a:visited, #loading-page a:hover, #loading-page a:active {
	color: inherit;
	text-decoration: none;
}

p #title {
  font-weight: bold;
}


/* Loader */
#loading-page #loader {
	height: 4px;
	width: 250px;
	position: absolute;
	top: 50%;
	margin-top: 30px;
	left: 50%;
	margin-left: -140px;
	width: 280px;
	overflow: hidden;
	background-color: rgba(0,0,0,.07)
}
#loading-page #loader:before{
	display: block;
	position: absolute;
	content: "";
	left: -200px;
	width: 200px;
	height: 4px;
	background-color: #0077B5;
	animation: loading 2s linear infinite;
}
