/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
	.fc-ltr .fc-basic-view .fc-day-number {
		font-size: 22px;
	}

	.fc-row.fc-week {
		max-height: 70px;
	}
	.fc-basic-view .fc-body .fc-row {
		min-height: 70px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	#body-content.contains-tabs .fc {
		padding-top: 10px;
	}

	.fc-row.fc-week {
		max-height: 55px;
	}
	.fc-basic-view .fc-body .fc-row {
		min-height: 55px;
		border-bottom: 1px solid #efefef;
		margin-bottom: 3px;
	}

	.fc-head-container .fc-row, .fc-content-skeleton {
		padding-right: 15px;
		padding-left: 15px;
	}

	.fc h2 {
		margin-top: 7px;
	}

	.fc th, .fc .fc-head td, thead {
		color: rgba(0,0,0,.5);
	}
	.fc th {
		text-align: left;
		font-size: 10px;
		font-weight: 600
	}
	.fc-ltr .fc-basic-view .fc-day-number {
		text-align: left;
		font-size: 10px;
		color: rgba(0,0,0,1);
	}
	.fc-event-container {
		text-align: center;
	}
	.fc .fc-content, .fc .fc-divider, .fc .fc-popover, .fc .fc-row, .fc tbody, .fc td, .fc th, .fc thead  {
		border: none;
	}

	.fc td.fc-today {
		border: none;
	}
	.fc .fc-today {
		background: transparent;
	}

	.fc-ltr .fc-basic-view .fc-day-number.fc-today:after {
		content: attr(day-number);
		background: #0077B5;
		border-radius: 50%;
		color: #fff;
		z-index: 5;
		width: 19px;
		text-align: center;
		position: absolute;
		display: block;
		top: 0;
		height: 16px;
		padding-top: 3px;
	}

	.fc-right .pagination>li>a, .fc-left .pagination>li>a {
		border: none;
	}
	.fc-left {
		display: block;
	}
	.fc-left .fc-next-button {
		display: none;
	}
	.fc-right .fc-prev-button {
		display: none;
	}

.fc-row .fc-content-skeleton tr:first-child td {
    padding-top: 3px;
}

	.fc-event .fc-content * {
		display: none;
	}
	.fc-event .fc-content {
		height: 15px;
	}

	.fc-prev-button, .fc-next-button {
		border: none;
	}

	.fc-event.event-am:after, .fc-event.event-pm:before, .fc-event.event-aw {
		font-size: 10px;
	}

	.fc-view-container {
		margin-right: -15px;
		margin-left: -15px;
	}

}
